* {
    font-family: serif, Geneva, sans-serif;
    line-height: 2;
}

body {
    height: 1500px;
    background: rgb(161, 252, 161);
    background: linear-gradient(0deg, rgb(32, 171, 236) 30%, rgb(6, 127, 86) 89%);
}

h3 {
    color: rgb(231, 58, 0);
    font-size: 30px;
}

p,
ul {
    padding: 2px;
    margin: 2px;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.lorem_txt {
    color: white;
    font-size: 20px;
}

ol {
    color: rgb(0, 0, 0);
}

ul {
    color: rgb(0, 0, 0);
}

.spn {
    border: 2px solid black;
    margin: 2px;
    padding: 2px;
}

div {
    display: block;
    border: 1px solid black;
}