body,
html {
    height: 100%;
}

* {
    box-sizing: border-box;
}

.bg_img {
    /* This will add the image  */
    background-image: url("https://images.pexels.com/photos/2387873/pexels-photo-2387873.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");

    /* this will add the blur effect */
    filter: blur(11px);
    -webkit-filter: blur(1px);

    /* Add height of the image */
    height: 100%;

    /* Background size */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    font-size: 15px;
}

p:hover {
    animation: reverse;
    direction: ltr;
    color: rgb(60, 157, 202);
}

a:visited {
    color: blue;
}

a {

    text-decoration: none;
    font-size: 30px;
    text-shadow: 20px;
}

.bg_text {
    /* fallback color */
    background-color: rgb(127, 127, 127);

    /* color black (0,0,0) , opacity(0.4) */
    background-color: rgba(182, 182, 182, 0.10);

    /* Text Color */
    color: white;

    /* Font weight */
    font-weight: bold;

    /* add border to text */
    border-radius: 45px;
    border: 3px solid rgb(232, 232, 232);

    /* Text position  */
    position: absolute;

    /* Top - Right */
    top: 50%;

    /* bottom-left */
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 40%;
    padding: 5%;
}